.list::-webkit-scrollbar{
    display: none;
}
.list_box{
    width: 100%;
    object-fit: contain;
    max-height: 200px;
    margin-right: 20px;
    transition: 450ms;
    
}
.list_box:hover{
    transform: scale(1.09);
}
.list{
    margin: 20px;
    display: flex;
    
    padding: 20px;
    overflow-y: hidden;
    overflow-x: scroll;
    

}